
*.fasta
Weektaak 3/CDS sequenties/Yersinia pestis FumA.fasta
Weektaak 3/CDS sequenties/Human FH.fasta
Weektaak 3/CDS sequenties/HIV-1 coding sequence nucleotide.txt
Weektaak 3/CDS sequenties/HIV-2 coding sequence nucleotide.txt
Weektaak 3/CDS sequenties/SIV-1 coding sequence nucleotide.txt
Weektaak 3/CDS sequenties/Treponema caldarium FUM.fasta
Weektaak 3/CDS sequenties/SIV-2 coding sequence nucleotide.txt
Weektaak 3/CDS sequenties/Arabidopsis thaliana FUM1.fasta
